/*Reset basico*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Estilos generales*/
body{
    font-family: 'Nunito Sans', sans-serif;
}

/*Estilos Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.logo{
    width: 45px;
}