/*Reset basico*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Estilos generales*/
body{
    font-family: 'Nunito Sans', sans-serif;
}

/*Estilos Header*/
.header{
    /*Flexbox agregado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;

    /*Posicion fija (sticky)*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*Lado izquierdo del header*/
.header-nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-link{
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

/*Centro: navegacion*/
.header-nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
}

/*Efecto hover en el texto*/
.header-nav a:hover{
    color: #00754a; /*Verde Starbucks*/
}

/*Lado derecho del header*/
.header-derecha{
    display: flex;
    align-items: center;
    gap: 15px;
}

.location{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    text-transform: uppercase;
}